/* 积分兑换样式开始 */
/* 引入mui.css 样式p便签冲突 */
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.mui-content {
    background-color: #fff;
}

p {
    margin-bottom: 0;
}

input {
    border: none;
}

.hear p {
    margin-bottom: 0;
    color: #fff;
    font-size: 0.4167rem;
}

.tab {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab .title {
    height: 1.1667rem;
    background-color: #002982;
}

.tab .title .title_box {
    height: 1.1667rem;
}

.tab .title .title_box li {
    float: left;
    width: 50%;
}

.tab .title .title_box .title_box_a {
    line-height: 1.125rem;
    color: #fff;
    font-size: 0.375rem;
    width: 2.2708rem;
    margin: 0 auto;
    display: block;
}

.tab .title div.title_box .mui-control-item.mui-active {
    border-bottom: 0.0417rem solid #fff;
}

.tab .content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tab .content .integral .price {
    font-size: 0.3333rem;
    color: #002982;
    text-align: center;
    margin: 1.3333rem 0 0.6667rem;
}

.tab .content .integral {
    width: 5rem;
    /* height: 0.7917rem; */
    margin: 0 auto;
}

.tab .content .integral input {
    width: 5rem;
    height: 0.7917rem;
    border-radius: 0.3958rem;
    border: 0.0208rem solid #002982;
    text-align: center;
    font-size: 0.3333rem;
    color: #999999;
}

.tab .content .integral .hint {
    color: #002982;
    font-size: 0.2917rem;
    text-align: center;
    margin: 0.375rem 0 32.0016px;
}

.tab .content .integral .conversion {
    width: 5rem;
    height: 0.7917rem;
    margin: 0 auto;
    background-color: #002982;
    color: #fff;
    border-radius: 0.3958rem;
    line-height: 0.7917rem;
    text-align: center;
}

.tab .content .integral div.conversion {
    margin-top: 1.3333rem;
}

.tab .content .integral .conversion>a {
    color: #fff;
    display: block;
    width: 5rem;
    height: 0.7917rem;
    font-size: 0.3333rem;
}

.tab .content .record {
    flex: 1;
}

.tab .content .record .all_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.tab .content .record .column ul {
    height: 1rem;
}

.tab .content .record .column ul li {
    float: left;
    height: 1rem;
    color: #333;
    font-size: 0.3333rem;
    text-align: center;
    line-height: 1rem;
    width: 25%;
}

.tab .content .record .ul .lis {
    height: 1rem;
    display: flex;
    align-items: center;
    border-top: 0.0208rem solid #f5f5f5;
}

.tab .content .record .ul .lis:last-child {
    margin-bottom: 0.7292rem;
}

.tab .content .record .ul .lis a {
    display: flex;
    align-items: center;
    height: 100%;
}


.tab .content .record .ul .lis:last-child {
    border-bottom: 0.0208rem solid #f5f5f5;
}


.tab .content .record ul.ul .lis p {
    width: 25%;
    float: left;
    text-align: center;
    font-size: 0.2917rem;
}

.tab .content .record ul.ul .lis p.red {
    color:red;
}
.tab .content .record ul.ul .lis p.green {
    color:green;
}

/* 积分兑换样式结束 */

.refresh {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 0.4167rem;
    z-index: 10;
    height: 1.0208rem;
    background-color: #f4f4f4;
    width: 100%;
    height: 35px;
    line-height: 35px;
}

.refresh>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh .arrows {
    width: 0.3333rem;
    height: 0.3333rem;
    margin-right: 0.1667rem;
}

.refresh .arrows>img {
    width: 100%;
    height: 100%;
    display: block;
}

.refresh span {
    font-size: 0.2917rem;
    color: #999999;
}

.roll_box {
    position: relative;
    flex: 1;
}