* {
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}

.bgf5 {
  background: url("../images/login-bg.png")  no-repeat;
  background-size:cover;
  width: 100%;
  height: 100%;
  /* position: fixed; */
}

.header_back {
  position: absolute;
  top: 10px;
  left: 10px;
}

.header_back img {
  width: .5rem;
}

.login-container {
  width: 100%;
  padding-bottom: 5%;
  padding-top: 0.4rem;
}

.language_click {
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  padding: .5rem .3rem;
  display: flex;
  align-items: center;
}

.language_click li {
  color: #999;
  font-size: .28rem;
}

.language {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .5rem .3rem;
}

.yuyan {
  font-size: .32rem;
  color: #b5c3b7;
  display: flex;
  align-items: center;
}

.yuyan select {
  font-size: .32rem;
  background: none;
  border: none;
  color: #b5c3b7;
  outline: none;
}

.yuyan option {
  color: #48b1a4;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  width: 2.9167rem;
}

.registerLogo {
  /* margin-top: 1rem; */
}

.bg {
  position: absolute;
  padding-top: 1rem;
}

.register_bg {
  padding-top: 0;
}

.register_bg .register_top .loginLanguage{
  padding-top: 0.4167rem;
} 


.top .loginLanguage {
  float: right;
  width: 2.2rem;
}

.top .loginLanguage .dropdown dt a{
    color: #fff;
    font-size: 0.32rem;
    border: none;

  }

.dropdown {
  overflow: hidden;
  font-size: 0.32rem;
}

.dropdown .parent {
  line-height: 0.4rem;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
}

.dropdown a:hover {
  color: #5d4617;
}

.dropdown .parent a:hover {
  color: #fff;
}

.dropdown .parent a {
  display: block;
  margin-right: 0.4rem;
  width: 3rem;
}

.dropdown .parent a span {
  cursor: pointer;
  display: block;
}

.dropdown .son {
  background: rgba(0,0,0,0.3);
  color: #C5C0B0;
  display: none;
  right: 0;
  padding: 0.1rem 0;
  position: absolute;
  width: 2.2rem;
}

.dropdown .son>div {
  line-height: 0.7rem;
}


.dropdown span.value {
  display: none;
}
.dropdown .son ul li {
    line-height: 25px;
}
.dropdown .son ul li a {
  padding: 0.1rem;
  display: block;
}

.dropdown .son ul li a:hover {
  background-color: #d0c9af;
}

.dropdown img.flag {
  border: none;
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;
  margin-left: 0.2rem;
  margin-right: 0.16rem;
}

.formbox {
  margin: 0 auto;
  text-align: center;
  border-radius: 0.16rem;
  -webkit-border-radius: 0.16rem;
  -moz-border-radius: 0.16rem;
  -ms-border-radius: 0.16rem;
  -o-border-radius: 0.16rem;
}

.formbox  .getpwd-title {
  color: #fff;
}

.top {
  height: 1.4792rem;
}

.top .sui-dropdown {
  font-size: 0.32rem;
  float: right;
  line-height: 1.54rem;
  color: #fff;
  right: 0.4rem;
}



.formlogin {
  width: 5.875rem;
  margin: 0 auto;
  color: #fff;
  font-size: .28rem;
}

.input_box {
  width: 5.875rem;
  margin-top: .8rem;
  display: flex;
  height:0.875rem;
  line-height: 0.875rem;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
  position: relative;
}

.input_box span {
  display: block;
  height: 0.875rem;
  line-height: 0.875rem;
  border: 0.02rem solid #fff;
  border-right: none;
  border-top-left-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
  background-color: #fff;
  padding-left: 0.48rem;
  position: absolute;
}

.formbox .input_box span.right {
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
  padding-right: 0.3rem;
  border: none;
  border-right: 0.02rem solid #fff;
  border-top: 0.02rem solid #fff;
  border-bottom: 0.02rem solid #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0.0417rem;

}

.formbox .input_box span.right img {
  width: 0.5rem;
  margin-left: -0.36rem;
  margin-top: 0.06rem;
}

.formbox .input_box input.login {
  border-right: none;
 
}

.input_box span img {
  width: 0.5rem;
  padding-top:0.1667rem;
}

.input_box span img.phone {
  margin-top: 0.04rem;
}

.input_box input {
  width: 100%;
  font-size: 0.3333rem;
  border-left: none;
  height: 0.875rem;
  line-height: 0.875rem;
  -webkit-appearance: none;
  border-top-right-radius: 0.4375rem;
  border-top-left-radius:  0.4375rem;
  border-bottom-right-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
  background-color: #fff;
  padding-left: 1.2rem;
}


.inde-btn {
    margin-top: 1.1667rem;
}

.inde-btn button {
  width: 100%;
  font-size: 0.4167rem;
  background: #FFFFFF;
  color: #003399;
  height: 0.875rem;
  border-radius: 0.4375rem;
  -webkit-border-radius: 0.4375rem;
  -moz-border-radius: 0.4375rem;
  -ms-border-radius: 0.4375rem;
  -o-border-radius: 0.4375rem;
  box-sizing: border-box;

}

.extra_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.extra_btn.text {
  margin-top: 0.25rem;
}
.extra_btn a {
  color: #fff;
  font-size: .28rem;
  padding-left: .4rem;
  padding-right: .4rem;
}
.extra_btn a.inde-reg {
  padding-left: 0;
  padding-right: 0;
}
.extra_btn a img {
  width: 0.28rem;
  height: 0.28rem;
  vertical-align: middle;
  margin-right: 0.24rem;  
}

input::-webkit-input-placeholder {
  color: #000;
}

input:-moz-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

input:-ms-input-placeholder {
  color: #000;
}

/* register */
/* .register-title {
    width: 80%;
    margin: 0 auto;
    color: #999;
    font-size: .5rem;
    text-align: center;
    padding: .5rem 0;
    letter-spacing: .1rem;
    text-indent: .1rem;
    border-bottom: 1pz solid #999;
}

.register-title span {
    border-bottom: 1px solid #4f4d4d;
    padding: .1rem;
    display: block;
    width: 80%;
    margin: 0 auto;
} */

.formrgister {
  width: 5.875rem;
  margin: 0 auto;
  font-size: .28rem;
}

.formrgister .input_box {
  margin-top: 0.375rem;
}

.formrgister .input_box p {
  color: #cfbdb4;
}

.formrgister .inde-btn button {
  margin:0 0 1.6042rem;
}

.register-container .extra_btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.input_code input {
  width:3.7917rem;
  margin: 0;
  line-height: 0.875rem;
  height: 0.875rem;
  border-radius: 0;
  border-top-left-radius: 0.4375rem;
  border-bottom-left-radius: 0.4375rem;
}

.input_code a,
.input_code>img {
  height: 0.875rem;
  width: 2.0833rem;
  background: RGBA(255, 255, 255,0.4);
  color: #fff;
  line-height: 0.84rem;
  border-top-right-radius: 0.4375rem;
  border-bottom-right-radius: 0.4375rem;
  font-size: 0.3333rem;
}

.input_box .phone-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input_box .phone-code input {
  width: 50%;
  height: .72rem;
  border-radius: 0;
  border-top-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
}

.input_box .phone-code a {
  width: 50%;
  height: .72rem;
  display: block;
  color: #1188ff;
  margin-top: .2rem;
  padding: .2rem 0;
  background: #d9bc59;
  font-size: .28rem;
  border-top-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
}

.captcha-text,
.code {
  padding-left: 1rem;
}

/* getpsw */
.formgetpsw .input_box p {
  color: #fff;
}

.formgetpsw .input_box {
  margin-top: .5rem;
}

.buttonbox {
  margin-top: 1.2rem;
  box-sizing: border-box;
  padding: 0 38%;
  width: 100%;
}

.buttonbox a {
  display: block;
  position: relative;
  width: 100%;
}

.buttonbox a img {
  display: inherit;
  margin: 0 auto;
  width: .5rem;
  padding-top: .7rem;
}

.buttonbox a p {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: .9rem;
  color: #fff;
  box-sizing: border-box;
  font-size: .27rem;

}
